@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body {
    background-image: url("../assets/gplaypattern.png");
    text-align: center;
    padding: 0 25px;
}

#im-div {
    text-align: left;
}

#login-section {
    background-image: url("../assets/header_meet_the_dr.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#patient-search-section {
    background-image: url("../assets/light-blue-background.jpg");
    width: 100%;

    border: 1px solid;
    border-radius: 25px;
    margin: 20px auto 20px auto;
    background-repeat: no-repeat;
    background-size: cover;
}

#searchPatientHeading{
  color:blue;
  margin-right:24.3%;
}

#searchResultsPatientHeading{
  color:blue;
  margin-right:24.3%;
}

#searchPatientButton{
  margin-left:34.2%;
}

#searchPatientTable{
  margin:auto;
}

#searchPatientTable tbody tr td{
  padding:10px;
}

#logo {
    margin: 20px;
}

#logo img {
  border-radius: 20%;
  width: 75%
}

.login{
	height: 150px;
	padding: 10px;
	z-index: 2;
    margin: 70px;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	border: 1px solid rgba(255, 0, 0, 0.6);
	border-radius: 2px;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	border: 1px solid rgba(255, 0, 0, 0.6);
	border-radius: 2px;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: rgba(3, 251, 120, 1);
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

#login-form {
  color: #f96e5b;
}

#login-form h1 {
  font-size: 3rem;
}

.login input[type=button].login-loading {
  background-image: url("http://www.fertllawn.com/image/loader.gif");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: center;
}

#cssmenu {
  background: #f96e5b;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  padding: 0;
  line-height: 1;
  zoom: 1;
  text-align: left;
  margin: 0;
  width: 100%;
}

#cssmenu ul.dropdown-menu {
  background: #333333;
  min-width: 150px;
  margin-left: -15px;
  max-width: 150px;
}
#cssmenu ul.dropdown-menu li {
  width: 100%;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu ul li.align-right {
  float: right;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  background-color: #f96e5b;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 4px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

#cssmenu.sticky {
  position: fixed;
  z-index: 2;
  width: calc(100% - 50px);
}

#patient-name {
    font-size: 3em;
    text-align: left;
    margin: 0;
}

#apptdate-result {
    font-size: 1em;
    text-align: left;
    margin: 0;
}

#details {
    text-align: left;
    overflow: visible;
}

#editor {
    max-height: 300px;
	height: 300px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    height: 34px;
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
